* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
}

.title-cart-product {
    color: black;
}

.container-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    display: flex;
    row-gap: 20px;
    flex-direction: row;
    gap: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 200px;
    padding-right: 10px;
}

.img-cart {
    height: 240px;
    width: auto;
}

.item-cart {
    width: 270px;
    background-color: #fff;
    box-shadow: 2px 5px 15px 2px #666;
    border-radius: 8px;
    height: ęū0px;
}

.img-cart {
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-cart {
    text-align: center;
    color: #444;
    display: flex;
    flex-direction: column;
}

span.title-cart-product {
    color: rgb(95, 163, 165);
}

.controler-cart {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 163, 165);
    margin-left: 65px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.controler-cart:hover {
    opacity: 1;
    color: rgb(197, 26, 97);
    cursor: pointer;
  }

  .sum {
    padding-bottom: 5px;
  }